<!doctype html>
<html>

<head>
    <title>Save Music App</title>
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="landing.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Yanone+Kaffeesatz:wght@500&display=swap" rel="stylesheet">
    <body>
        <header class="showcase">
			<div class="showcase-top">
				<img src="https://i.ibb.co/r5krrdz/logo.png" alt="" />
				
			</div>
			<div class="showcase-content">
				<h1>Queue what's next</h1>
				<p>Create a Watch List of Your Top Movies</p>
				<a href="/signup" class="btn btn-xl"
					>Sign Up <i class="fas fa-chevron-right btn-icon"></i
				></a>
			</div>
		</header>
	
   

</body>

</html>